@media (min-width: 480px) { 
    *{
        cursor: default !important;
        }

        .main_explain_title {
            font-size: 2.8rem;
        }
        .main_explain_text {
            font-size: 1.6rem;
        }

        .main_explain_Btn {
       display: flex;
       justify-content: left;
       align-items: center;
      column-gap: 2rem;
        }
        .main_facility_context_item_picture {
            max-width: 16rem;
        }
}
@media (min-width: 576px) { 
    /* *{
        cursor: default !important;
        } */
        .main_services_right {
            grid-template-columns: repeat(2,1fr);
            }

            .footer_head_map {
                height: 3.6rem;
                width: 7.5rem;
            }
}

 
@media (min-width: 768px) { 
    .nav_Menu {
        display: block;
        }
        .navbar {
            display: none;
        }

        .nav_toggle {
            display: none;
        }
        .main_explain_title {
            font-size: 3.4rem;
        }
        .main_explain_text {
            font-size: 1.8rem;
        }

        .main_explain_members {
            display: flex;
            justify-content: center;
             align-items: center;
             flex-direction: row;
            flex-wrap: wrap;
            column-gap: 3rem;
        }
        .main_services_left {
            padding-top: 15rem;
        }

        /* Section 3 */

        .main_about_portfolio_svgup {
            display: block;
            padding-bottom: 3rem;
            }
            .main_about_portfolio_svgdown {
                display: block;
            }

            .main_about_portfolio_detailed{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            /* section 4 */
            .main_facility_context {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                
                justify-items: center;
              }
            
              .main_facility_context_item {
                flex-direction: row;
                align-items: center;
                text-align: left;
                justify-content: start;
              }
            
              .main_facility_context_item_picture {
                width: 12rem;
                height: 12rem;
                flex-shrink: 0;
              }
            
              .main_facility_context_item_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .main_facility_context_item_explain {
                padding: 1.8rem 0 1.8rem 1.2rem;
            }
            .main_facility_context_item_title {
                font-size: 1.5rem;
            }
               .main_facility_context_item_text {
                font-size: 1.3rem;
                }
                /* footer head */
                .footer_head_items {
                    gap: 1.8rem;
                }
                .footer_head_link {
                    font-size: 1.6rem;
                    }
                    .footer_head--center {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                    }

                    /* footer bottom */

                    .footer_bottom {
                        flex-direction: row;
                        justify-content: space-between;
                        border-top: .1rem solid var(--body-color);
                        margin-top: 9rem;
                        padding-top: 1.8rem;
                    }
                    .footer_bottom_date {
                       
                        }
                        .footer_bootom_icons {
                       
                        }
                        .author_item {
                       
                    }
                    
 }

 
@media (min-width: 992px) { 
    .nav_menu_list {
        margin-left: 5rem;
        
    }
    .main_explain_title {
        font-size: 4rem;
        padding-top: 1.8rem;
    }
    .main_explain_text {
        font-size: 2.1rem;
        padding: 1.5rem 0;
    }
    .main_explain_Btn {
        padding-top: 1.2rem;
    }
    .main_explain_members {
        padding-top: 14rem;
        column-gap: 3.2rem;
    }
    .main_services_header {
        text-align: left;
    }
    .main_services_left {
        padding-top: 2.1rem;
    }
    .main_services_left_title {
        font-size: 1.5rem;
        text-align: left;
    }
    .main_services_left_context {
        text-align: left;
        font-size: 1.3rem;
    }
    
    .main_services_links {
        justify-items: left;
        padding-top: 0;
    }
    .main_services_link {
        width: 10rem;
    }
    /* Section 3 */
    .main_about_portfolio_left {
        display: block;
        }
        .main_about_title--break .main_about_title_span::before {
            content: "\A";
            white-space: pre;
            display: inline;
          }
          .main_about_icon {
            justify-content: right;
          }
          .main_about_portfolio_context {
            font-size: 2rem;
          }
          .main_about_portfolio_left {
            display: flex;
            }
            .main_about_portfolio_after_picture {
                min-width: 20rem;
                }
                .main_portfolio_after_text {
                max-width: 15rem;
                }
                .main_about_portfolio_left {
                    display: flex;
                }

                /* section 4 */
                
 }


@media (min-width: 1200px) { 
    .main_explain_title {
        font-size: 4.8rem;
        padding-top: 2rem;
    }
    .main_explain_text {
        line-height: 4rem;
        padding: 1.5rem 0;
    }
    .main_explain_Btn {
       padding-top: 1.2rem;
   }

    .main_explain_members {
        justify-content: left;
        padding-top: 19.5rem;
    }

    .main_services_right {
        grid-template-columns: repeat(3,1fr);
        }
        .main_services_left_title {
            font-size: 4.4rem;
        }

        /* section 3 */

        .main_about_portfolio_context {
            font-size: 2.5rem;
        }
        .main_about_portfolio_name {
            font-size: 1.5rem;
        }
        .main_about_title {
            font-size: 4rem;
        }
   /* section 5 */
   .main_trainer_link {
    font-size: 1.8rem;
   }

   /* section 6 */
  .main_join_context_right {
    border-radius: 12px;
    padding: 5rem 10rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  }

  .main_join_context .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_join_context_right_title {
    font-size: 2.6rem;
    }
    .main_join_context_right_content {
    font-size: 1.7rem;

    }
    .main_join_context_input {
    height: 4.7rem;
    width: 25rem;
    margin-bottom: 1rem;
    width: 100%;
    }
    .main_join_input {
     font-size: 1.2rem;
     margin-left: 0 !important;   
     width: 29rem;    
     height: 5rem;
    }
    .main_join_context_button {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .main_join_btn {
        font-size: 1.8rem;
        display: block;     
        margin-left: 0;   
        width: 12rem;
        height: 4rem;   
        border-radius: 8rem;
    }

    /* footer head */
    .footer_head--center {
        display: block;
    }

    .footer_head_contact {
        display: block;
    }
    .footer_head_items {
        display: block;
    }
    .footer_head_contact {
        display: block;
    }
    .footer_head_contact_title {
        padding-bottom: 1.8rem;
    }
    .footer_head_contact_content {
        width: 13rem;
    }
    .footer_head_list {
        display: flex;
    justify-content: space-evenly;
    }

 }


@media (min-width: 1400px) { 
    /* section 4 */
    .main_facility_context {
        grid-template-columns: repeat(3, 1fr); /* فقط ۳ ستون */
        justify-content: center;
      }
      .main_facility_context {
        max-width: 1300px;
        margin: 0 auto;
      }
      
      .main_facility_context_item {
       width: 43.5rem;
      }
        /* section 6 */
  .main_join_context_right {
    padding: 8rem 14rem;
  }
      
 }